#wpadminbar, #wpadminbar .ab-top-secondary{
	background-color: #81230F !IMPORTANT;
    background: linear-gradient(to top, #81230F 0px, #923410 5px) repeat scroll 0 0 #81230F !IMPORTANT;
	background-image: none;
    color: #FAEAEA;
}

#wpadminbar .quicklinks > ul > li {
    border-right: 1px solid #995555;
}

.widget .widget-top, .postbox h3, .stuffbox h3, .widefat thead tr th, .widefat tfoot tr th, h3.dashboard-widget-title, h3.dashboard-widget-title span, h3.dashboard-widget-title small, .sidebar-name, #nav-menu-header, #nav-menu-footer, .menu-item-handle {
	background-color: #FFECEC !IMPORTANT;
    background: linear-gradient(to top, #FFECEC, #FAF9F9) repeat scroll 0 0 #FFECEC !IMPORTANT;
	background-image: none;
}

.intro-widget-member-level {
	font-size: 2em;
	font-weight: bold;
	color: #CC0000;
}
