#wpadminbar, #wpadminbar .ab-top-secondary{
	background-color: #230F81 !IMPORTANT;
    background: linear-gradient(to top, #230F81 0px, #341092 5px) repeat scroll 0 0 #230F81 !IMPORTANT;
	background-image: none;
    color: #EAEAFA;
}

#wpadminbar .quicklinks > ul > li {
    border-right: 1px solid #555599;
}

.widget .widget-top, .postbox h3, .stuffbox h3, .widefat thead tr th, .widefat tfoot tr th, h3.dashboard-widget-title, h3.dashboard-widget-title span, h3.dashboard-widget-title small, .sidebar-name, #nav-menu-header, #nav-menu-footer, .menu-item-handle {
	background-color: #ECECFF !IMPORTANT;
    background: linear-gradient(to top, #ECECFF, #F9F9FA) repeat scroll 0 0 #ECECFF !IMPORTANT;
	background-image: none;
}

.intro-widget-member-level {
	font-size: 2em;
	font-weight: bold;
	color: #003366;
}
