#wpadminbar, #wpadminbar .ab-top-secondary{
	background-color: #23810F !IMPORTANT;
    background: linear-gradient(to top, #23810F 0px, #349210 5px) repeat scroll 0 0 #23810F !IMPORTANT;
	background-image: none;
    color: #EAFAEA;
}

#wpadminbar .quicklinks > ul > li {
    border-right: 1px solid #559955;
}

.widget .widget-top, .postbox h3, .stuffbox h3, .widefat thead tr th, .widefat tfoot tr th, h3.dashboard-widget-title, h3.dashboard-widget-title span, h3.dashboard-widget-title small, .sidebar-name, #nav-menu-header, #nav-menu-footer, .menu-item-handle {
	background-color: #ECFFEC !IMPORTANT;
    background: linear-gradient(to top, #ECFFEC, #F9FAF9) repeat scroll 0 0 #ECFFEC !IMPORTANT;
	background-image: none;
}

.intro-widget-member-level {
	font-size: 2em;
	font-weight: bold;
	color: #006600;
}


