#wpadminbar, #wpadminbar .ab-top-secondary{
	background-color: #230F81 !IMPORTANT;
    background: linear-gradient(to top, #81540F 0px, #81540F 5px) repeat scroll 0 0 #81540F !IMPORTANT;
	background-image: none;
    color: #FFF;
}

#wpadminbar .quicklinks > ul > li {
    border-right: 1px solid #996633;
}

.widget .widget-top, .postbox h3, .stuffbox h3, .widefat thead tr th, .widefat tfoot tr th, h3.dashboard-widget-title, h3.dashboard-widget-title span, h3.dashboard-widget-title small, .sidebar-name, #nav-menu-header, #nav-menu-footer, .menu-item-handle {
	background-color: #ECECFF !IMPORTANT;
    background: linear-gradient(to top, #FFEC9C, #FFEC9C) repeat scroll 0 0 #FFEC9C !IMPORTANT;
	background-image: none;
}

.intro-widget-member-level {
	font-size: 2em;
	font-weight: bold;
	color: #FF6600;
}
