/* Home Feature Boxes */

#feature-boxes {
	display: block;
	padding: 1em 0;
	margin: 0 1.5em 0.5em;
}

.featurebox { 
	width: 31%;
	margin: 0 3% 1em 0;
	padding: 0.5em 0;
	clear: none;
	float: left;
}

.featurebox-wide { 
	width: 46%;
	margin: .5em .2em .3em 0;
	padding: 0 0.5em;
	clear: none;
	float: left;
}

#feature-boxes div:last-child {
	margin-right: 0;
}

.fbox3{
	margin-right: 0 !important;
}

.featurebox	.boxtitle, .featurebox-wide	.boxtitle {
	margin: 0 0 .5em 0;
	padding: .3em .5em;
	background: #efefef;
	border: 1px solid #e2e2e2;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
	color: #222;
	text-shadow: none;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	text-align: center;
}

.featurebox .boximage, .featurebox-wide .boximage {
    clear: both;
    display: block;
    margin-bottom: 0.3em;
    min-height: 120px;
    max-height: 300px;
    overflow: hidden;
}

.featurebox .boximage img, .featurebox-wide .boximage img {
	margin-top: 0;
}

.featurebox p {
	width: 98%;
	padding: 0.5em 0;
	margin: 0 auto;
}

.featurebox a, .featurebox-wide a{
	font-style: italic;
} 

.featurebox .link { 
	float: right;
}