/* Home Video */

#home-video-cont {
	margin: 1em 0;
	padding: 2em;
	background-color: #DFDFDF;
}

#home-video {
	max-width: 785px;
	width: 80%;
	margin: 0 auto;
	padding: 1em;
}

/* workable way to make vids responsive - http://www.hanselman.com/blog/EasyStepsToAMobilefriendlyResponsiveDesignWithAnEmbeddedYouTubeVideoAndAFluidResize.aspx 
*/
.embed-container {   
    position: relative;   
    padding-bottom: 56.25%; /* 16/9 ratio */   
    padding-top: 30px; /* IE6 workaround*/   
    height: 0;   
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {   
    position: absolute;   
    top: 0;   
    left: 0;   
    width: 100%;   
    height: 100%;
}
