/* Home Intro */
#homeintro {
	padding: .5em;
	margin: 0 1.5em 1.5em;
    text-align: center;
	border: 1px solid #f1f1f1;
	border-radius: 10px;
} 


  
#homeintro h2.homeintrotitle {
	font-weight: bold;
	font-style: normal;
	font-size: 2.3em;
	color: #4d4d4d;
	display: inline-block;
	padding: 1em 2em 0;
}

#homeintro .edit-link {
	display: block;
}