/* Home CTA  */
#hometagline {
	position: relative;
    display: block;
	padding: .5em;
	 margin: .25em 1.5em 1.5em;
    text-align: center;
	border: 1px solid #f1f1f1;
	border-radius: 10px;
}

#hometagline #inner {
	margin: 0;
	line-height: 150%;
	font-family: "Trebuchet MS", Trebuchet, Arial;
	color: #333;
	font-size: 1.5em;
	font-weight: 100 !important;
	text-align: center;
	text-rendering: optimizeLegibility;
}

#hometagline #inner h2 {
	font-size: 1.7em;
	font-weight: 500 !important;
}

#hometagline #inner .tagline {
}



