/* woo slider plugin extras */

/*Keep woo slider from making img 100% */
.wooslider .slides img {
    width: auto;
}

/* Home Slider Container */
#cmg-homeslider {
	margin: 0.25em auto 1em auto;
	width: 100%;
}

/* make the slider show the homeslider background */
.wooslider {
    background: none repeat scroll 0 0 transparent !important; 
    box-shadow: none !important;
    margin: .5em !important;
    position: relative;
}

.wooslider .slides .slide-content  {
	padding: 0 !important;
	margin: 0 !important;
}

.wooslider .slides .slide-content .slide-container  {
	border: 2px solid #FFF !important;
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
}


.wooslider .slides .slide-content .slide-container{
	padding: 0em 0 0;
	height: 368px;
	background-size: 100% 368px;
	background-position: right;
}

.wooslider .slides .slide-content .slide-container .caption  {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1em;
	margin: .5em;
	width: 55%;
}

.wooslider .slides .slide-content .slide-container .caption h2, .wooslider .slides .slide-content .slide-container .caption .line1  {
	color: #FFF;
	font-size: 2.5em;
	line-height: 120%;
	font-weight: 500;
	font-style: normal;
}

.wooslider .slides .slide-content .slide-container .caption .line2 {
	color: #FFF;
	font-size: 1.1em;
	padding: 0.5em 0em;
	margin-bottom: 0;
	width: 97%;
}

.wooslider .slides .slide-content .slide-container .caption .btn a {
	float: left;
	clear: none;
	display: block;
	margin: 0 1em .5em 0;
	padding: .5em .5em;
	background-color: #BB5701;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.95);
	-moz-box-shadow:    0px 0px 16px rgba(50, 50, 50, 0.95);
	box-shadow:         0px 0px 16px rgba(50, 50, 50, 0.95);
	color: #FFF;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}


/* slider nav arrows */

.wooslider-direction-nav a {
    background: none;
    cursor: pointer;
    color: transparent;
    display: block;
    max-height: 146px;
	height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    transition: none !important;
    max-width: 44px;
	width: 100%;
}

/* kill the effect where the arrows move around */
.wooslider-direction-nav .wooslider-next {
	right: 0 !important;
	opacity: 1 !important;
}

.wooslider-direction-nav .wooslider-prev {
	left: 0 !important;
	opacity: 1 !important;
}

body .wooslider .wooslider-control-nav {
	margin: 0 auto;
	padding: 1.35em 0 2em;
	display: block;
	max-width: 50%;
	width: auto;
/*	background: url('images/slider-panel.png') repeat-x;*/
	bottom: 0;
	top: 90% !important;
	left: 47%;
	z-index: 10;
}

.wooslider .wooslider-control-nav > li {
    margin: 0 4px;
    padding: 0;
}

.wooslider-control-paging li a {
	background: #e1e1e1;
	-webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
	-o-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
}

.wooslider-control-paging li a.wooslider-active, .wooslider-control-paging li a:hover {
    cursor: default;
	height: 8px;
	width: 8px;
	border: 2px solid #777;
	background: #000;
}




/* woo slider plugin extras */

/*Keep woo slider from making img 100% */
.wooslider .slides img {
    width: auto;
}


/* Home Slider Container */
/*
#homeslider {
	margin: 1em auto 3em auto;
	width: 80%;
	max-width: 840px;
}

/* make the slider show the homeslider background */
/*
.wooslider {
	margin: 3em 6em;
    background: none repeat scroll 0 0 transparent !important; 
    border: 0px solid #FFFFFF !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    margin:  0 !important;
    position: relative;
}

.wooslider .slides .slide-content  {
	padding: 0 !important;
	margin: 0 !important;
}


.wooslider .slides .slide-content .slide-container{
	padding: 1em;
	height: 350px;
	background-size: 845px 385px;
	background-position: right;
}

.wooslider .slides .slide-content .slide-body  {
	background-image:url(images/translucent-black-60.png);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 2em;
	margin: 0 1em;
	width: 55%;
}

.wooslider .slides .slide-content h2 {
	color: #FFF;
	font-size: 2.5em;
	line-height: 120%;
	font-weight: 500;
	font-style: normal;
}


.wooslider .slides .slide-content p {
	color: #FFF;
	font-size: 1.3em;
}

.wooslider .slides .slide-content .buttons {
	margin: 0.5em 2em;
	font-size: 1.3em;
	min-height: 20px;
}

.wooslider .slides .slide-content .buttons .readmore a, .wooslider .slides .slide-content .buttons .buynow a {
	float: left;
	clear: none;
	display: block;
	margin: 0 1em .5em 0;
	padding: .5em .5em;
	background-color: #BB5701;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.95);
	-moz-box-shadow:    0px 0px 16px rgba(50, 50, 50, 0.95);
	box-shadow:         0px 0px 16px rgba(50, 50, 50, 0.95);
	color: #FFF;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}


/* slider nav arrows */
/*
.wooslider-direction-nav a {
    background: none ;
    cursor: pointer;
    display: block;
    max-height: 146px;
	height: 100%;
    margin: 0;
    opacity: 1;
    position: absolute;
    text-indent: -9999px;
    top: 30%;
    transition: none !important;
    max-width: 44px;
	width: 100%;
}

/* kill the effect where the arrows move around */
/*
.wooslider-direction-nav .wooslider-next {
	right: 0 !important;
	margin-right: -4em !important;
	opacity: 1 !important;
	background-image: url("images/slider-arrow-right.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.wooslider-direction-nav .wooslider-prev {
	left: 0 !important;
	margin-left: -4em !important;
	opacity: 1 !important;
	background-image: url("images/slider-arrow-left.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.wooslider .wooslider-control-nav > li {
    margin: 0 4px;
    padding: 0;
}

.wooslider-control-paging li a.wooslider-active {
    background: none repeat scroll 0 0 rgba(188, 88, 2, 1);
    cursor: default;
}
*/