/* homepage featured book */

#home-featured-book, #home-books {
	padding: 1rem;
	margin: .25rem 0 1rem 0;
	background-color: #FDFEFE;
    border: 1px solid #E0E1E1;	/*Box shadow*/
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
}


#home-featured-book img {
	-moz-box-shadow: 0px 0px 17px 1px #AEAEAE;
	-webkit-box-shadow: 0px 0px 17px 1px #AEAEAE;
	box-shadow: 0px 0px 17px 1px #AEAEAE;
}

#home-featured-book h3 {
	margin-bottom: 1.5em;
}

#home-featured-book .links {
	margin-top: 1em;
}

#home-featured-book .links .buybutton, #home-featured-book .links .morebutton {
	float: left;
	clear: none;
	display: block;
	margin: 0 1em 0 0;
	padding: .5em .5em;
	background-color: #BB5701;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 0px 5px 1px #AEAEAE;
	-webkit-box-shadow: 0px 0px 5px 1px #AEAEAE;
	box-shadow: 0px 0px 5px 1px #AEAEAE;
	color: #FFF;
	font-size: 1.1em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}
