/* Home CTA  */
#homecta {
	position: relative;
    display: block;
	
	padding: .5em;
	margin: .25em auto 2em;
    text-align: center;
	border: 1px solid #f1f1f1;
	border-radius: 10px;
	
}

#homecta .inner {
	background-color: #FFCC00;
}


#homecta .slogan {
	display: block;
	position: absolute;
	height: 115%;
	width: 22%;
	top: -15%;
	left: 5%;
	background-color: #0079C2;
	padding: 1em;
}

#homecta .slogan .message {
	margin: 0;
	line-height: 150%;
	font-family: Raleway, "Trebuchet MS", Trebuchet, Arial;
	color: #FFFFFF;
	font-size: 1.7em;
	font-weight: 100 !important;
	text-align: center;
	text-rendering: optimizeLegibility;
}

#homecta .slogan .message .bold {
	font-weight: bold;
	font-style: italic;
	padding: 0 2px;
}

/* End Homeform */


