/* Homepage Widgets */
#home-widgets {
	display: block;
	margin: 0 1.5em 1.5em;
	padding-bottom: .5em;
}

#home-widgets .homewidget.wide {
	width: 46%;
	margin: 0 3% 1em 0;
	padding: 0 0.5em;
	clear: none;
	float: left;

}

#home-widgets .homewidget {
	width: 31%;
	margin: 0 .8em 1em 0;
	padding: 0.5em;
	clear: none;
	float: left;
}

#home-widgets .box3{
	margin-right: 0 !important;
}

