/*---------------------------------------------------------*/
/* General Book Styling                                    */
/*---------------------------------------------------------*/
#mbt-container {
	font-family: 'Lato',Arial,sans-serif !important;
	font-size: 1.1em !important;
}



#mbt-container .mbt-book {
	clear: both;
	padding-bottom: 1em;
	font-family: Helvetica, sans-serif
}

#mbt-container .mbt-book .mbt-book-right {
	float: left;
	width: 75%;
}

#mbt-container .mbt-book .mbt-affiliate-disclaimer,
#mbt-container .mbt-book .mbt-affiliate-disclaimer a {
	color: gray;
	font-size: 1em;
	font-style: italic;
}

#mbt-container .mbt-book .mbt-affiliate-disclaimer {
	padding: 1em 0 ;
	clear: both;
}



/*---------------------------------------------------------*/
/* Breadcrumbs                                             */
/*---------------------------------------------------------*/

#mbt-container .mbt-breadcrumbs {
	padding: 0  0  1em 0 ;
	color: #666;
}

#mbt-container .mbt-breadcrumbs a {
	color: #666;
	text-decoration: none;
	border: none;
}

#mbt-container .mbt-breadcrumbs a:hover {
	color: #333;
	text-decoration: underline;
	border: none;
}



/*---------------------------------------------------------*/
/* Book Images                                             */
/*---------------------------------------------------------*/

#mbt-container .mbt-book .mbt-book-images {
	float: left;
	width: 25%;
}

#mbt-container .mbt-book .mbt-book-images .mbt-book-image {
	width: auto;
	max-width: 95%;
	border-radius: 0;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
}


/*---------------------------------------------------------*/
/* Book Title                                              */
/*---------------------------------------------------------*/

#mbt-container .mbt-book .mbt-book-title {
	clear: none;
	margin: 0 0 0 3em;
	padding: 0;

	color: #484949;
	font-size: 2em;
	font-weight: bold;
	line-height: 1.3;
	background: none;
}

#mbt-container .mbt-book .mbt-book-title a {
    color: #121212;
    font-size: 1.5em;
    font-weight: 700;
}

#mbt-container .mbt-book .mbt-book-title a:hover {
	text-decoration: none;
	border: none;
}



/*---------------------------------------------------------*/
/* Book Price                                              */
/*---------------------------------------------------------*/
#mbt-container .mbt-book .mbt-book-price {
	margin: 1em 0  1em 3em;
	font-size: 1.3em;
	font-weight: bold;
	color: #484949;
}

#mbt-container .mbt-book .mbt-book-price .old-price  {
	text-decoration: line-through;
	color: #AEAEAE;
	margin-right: 1em;
}

#mbt-container .mbt-book .mbt-book-price .new-price  {
	color: #484949;
}



/*---------------------------------------------------------*/
/* Book Meta                                              */
/*---------------------------------------------------------*/
#mbt-container .mbt-book .mbt-book-meta {
	font-size: 1.3em;
	line-height: 1.5;
	margin-left: 3em;
}

#mbt-container .mbt-book .mbt-book-meta .meta-title {
	font-weight: bold;
}

#mbt-container .mbt-book .mbt-book-meta a {
	font-weight: 600;
}



/*---------------------------------------------------------*/
/* Book Blurb                                              */
/*---------------------------------------------------------*/
#mbt-container .mbt-book .mbt-book-blurb {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: white;
	border: 1px solid #E0E2E2;

	font-size: 1.3em;
	color: #484949;
	line-height: 140%;
	width: 60%;
	margin: 1em 0  0  1em;
	padding: 1.5em 2.3em;
	min-height: 5em;
}

#mbt-container .mbt-book .mbt-book-blurb a {
	color: #484949;
	font-weight: 600;
	text-decoration: none;
}

#mbt-container .mbt-book .mbt-book-blurb a:hover {
	text-decoration: underline;
}

#mbt-container .mbt-book a.mbt-book-sample {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1.3em;
	vertical-align: middle;
	color: white;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

	border: 1px solid #345873;
	border-radius: 5px;

	background-color: #36738d;
	background-image: -moz-linear-gradient(top,  #36738d 0%, #2f5a79 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36738d), color-stop(100%,#2f5a79));
	background-image: -webkit-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: -o-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: -ms-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: linear-gradient(to bottom,  #36738d 0%,#2f5a79 100%);

	-webkit-box-shadow: inset 1px 1px 0 rgba(141,184,211,0.7);
	box-shadow: inset 1px 1px 0 rgba(141,184,211,0.7);

	display: inline-block;
	margin: 0;
	margin-top: 1em;
	padding: .5em 1.5em;
	min-width: 7em;
}



/*---------------------------------------------------------*/
/* Buy Buttons                                             */
/*---------------------------------------------------------*/

#mbt-container .mbt-book .mbt-book-buybuttons {
	margin: 1.3em 0  0  1.5em;
}

#mbt-container .mbt-book .mbt-book-buybuttons .mbt-book-buybutton  {
	width: auto;
	float: left;
	clear: none;
	padding: .5em 1em 0  0 ;
}

#mbt-container .mbt-book .mbt-book-buybuttons .mbt-book-buybutton img {
	background: transparent;
	border: none;
	height: auto;
	width: auto;
	border-radius: 0 ;
	box-shadow: none;
	vertical-align: bottom;
	padding: 0;
	margin: 0;
	opacity: 1;
}

#mbt-container .mbt-book .mbt-book-buybuttons-textonly  {
	display: block;
	float: left;
	clear: both;
	margin: 1.5em 0  0  0 ;
}

#mbt-container .mbt-book .mbt-book-buybuttons-textonly h3  {
	margin: 0 ;
	padding: 0 ;
}



/*---------------------------------------------------------*/
/* Book Overview                                           */
/*---------------------------------------------------------*/

#mbt-container .mbt-book .mbt-book-overview {
	width: 100%;
	clear: both;
	float: left;
	border-top: 1px solid #E0E2E2;
	padding-top: 2em;
	margin-top: 2.25em;

	font-size: 1.3em;
	line-height: 140%;
}

#mbt-container .mbt-book .mbt-book-overview .mbt-book-overview-title {
	margin: 0;
	padding: 0;
	padding-bottom: 1.5em;

	font-size: 2.2em;
	color: black;
	font-weight: normal;
	line-height: 130%;
	letter-spacing: 0;
	text-transform: none;
}



/*---------------------------------------------------------*/
/* Book Social Media                                       */
/*---------------------------------------------------------*/

#mbt-container .mbt-book .mbt-book-socialmedia-bar {
	clear: both;
	padding-top: 1em;
}

#mbt-container .mbt-book .mbt-book-socialmedia-badges {
	float: right;
	padding-left: .5em;
}



/*---------------------------------------------------------*/
/* Book Series                                             */
/*---------------------------------------------------------*/

#mbt-container .mbt-book .mbt-book-series {
	font-size: 1.2em;

	background: #F8F8F8;
	border: 1px solid #E1E3E3;
	border-radius: 2px;

	margin: 1.5em 1em 5px 1em;
	padding: 1.5em 2em;
}

#mbt-container .mbt-book .mbt-book-series .mbt-book-series-title {
	font-size: 1.4em;
	font-weight: bold;
	color: #484949;
}

#mbt-container .mbt-book .mbt-book-series .mbt-book {
	display: inline-block;
	padding: 1.4em 1.8em 5px 0 ;
	margin: 0 ;
	text-align: center;
	float: left;
	clear: none;
	border: none;
	height: 175px;
	width: 120px;
	overflow: hidden;
	box-sizing: content-box;
}

#mbt-container .mbt-book .mbt-book-series .mbt-book .mbt-book-title {
	font-size: 1.3em;
	font-weight: bold;
	clear: both;
	padding: 0 ;
	margin: 0 ;
	width: 120px;
	height: 55px;
	overflow: hidden;
}

#mbt-container .mbt-book .mbt-book-series .mbt-book .mbt-book-title a {
	font-size: 1.3em;
	font-weight: bold;
}

#mbt-container .mbt-book .mbt-book-series .mbt-book .mbt-book-title a:hover {
	font-size: 1.3em;
	font-weight: bold;
}

#mbt-container .mbt-book .mbt-book-series .mbt-book .mbt-book-images {
	margin: 1em;
}

#mbt-container .mbt-book .mbt-book-series .mbt-book .mbt-book-images a {
	border: none;
}



/*---------------------------------------------------------*/
/* Goodreads Box                                           */
/*---------------------------------------------------------*/
#mbt-container .mbt-book #goodreads-widget {
	font-family: georgia, serif;
	background-color: white;
	margin-top: 3em;
	padding: 1.8em;
}
#mbt-container .mbt-book #goodreads-widget h1 {
	font-weight:normal;
	font-size: 1.2em;
	border-bottom: 1px solid #BBB596;
	margin-bottom: 0;
	margin: 0 ;
	padding: 0 ;
	background: 0 ;
}
#mbt-container .mbt-book #goodreads-widget a {
	text-decoration: none;
	border: none;
	color:#660;
	margin: 0 ;
	padding: 0 ;
	background: 0 ;
}
#mbt-container .mbt-book #goodreads-widget a:hover { text-decoration: underline; }
#mbt-container .mbt-book #goodreads-widget a:active {
	color:#660;
}
#mbt-container .mbt-book #gr_footer {
	width: 100%;
	border-top: 1px solid #BBB596;
	text-align: right;
}
#mbt-container .mbt-book #goodreads-widget .gr_branding{
	color: #382110;
	font-size: 1em;
	text-decoration: none;
	font-family: verdana, arial, helvetica, sans-serif;
}
#mbt-container .mbt-book #goodreads-widget iframe {
	width: 100%;
}

/*---------------------------------------------------------*/
/* Book Archive Styling                                    */
/*---------------------------------------------------------*/

#mbt-container .mbt-book-archive-header .mbt-book-archive-image {
	float: left;
	width: 15%;
	padding: 0 2em 2em 0;
	border-radius: 0 ;
	box-shadow: none;
	border: none;
	background: transparent;
	margin: 0;
}

#mbt-container .mbt-book-archive-header .mbt-book-archive-title {
	clear: none;
	width: 75%;
	float: left;
	padding: 0  0  1.4em 0 ;
	margin: 0 ;
	background: transparent;

	color: #484949;
	font-size: 2.6em;
	font-weight: normal;
	line-height: 1.3;
}

#mbt-container .mbt-book-archive-header .mbt-book-archive-description {
	clear: none;
	width: 75%;
	float: left;

	font-size: 1.3em;
	line-height: 1.5;

	padding: 0  0 2.2em 0 ;
	position: relative;
}

#mbt-container .mbt-book-archive {
	clear: both;
}

#mbt-container .mbt-book-archive .mbt-book {
	margin-bottom: 2.5em;
	border-bottom: 1px solid #E0E2E2;
}

#mbt-container .mbt-book-archive-pagination {
	text-align: center;
}

#mbt-container .mbt-book-archive-pagination a {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1.3em;
	vertical-align: middle;
	color: white;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

	border: 1px solid #345873;
	border-radius: 5px;

	background-color: #36738d;
	background-image: -moz-linear-gradient(top,  #36738d 0%, #2f5a79 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36738d), color-stop(100%,#2f5a79));
	background-image: -webkit-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: -o-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: -ms-linear-gradient(top,  #36738d 0%,#2f5a79 100%);
	background-image: linear-gradient(to bottom,  #36738d 0%,#2f5a79 100%);

	-webkit-box-shadow: inset 1px 1px 0 rgba(141,184,211,0.7);
	box-shadow: inset 1px 1px 0 rgba(141,184,211,0.7);

	display: inline-block;
	margin: 0 .5em 0  0 ;
	padding: .5em .6em;

}

#mbt-container .mbt-book-archive-pagination a:hover {
	text-decoration: underline;
}

#mbt-container .mbt-book-archive-pagination span {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1.3em;
	vertical-align: middle;
	color: #214756;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

	display: inline-block;
	margin: 0  .5em 0  0 ;
	padding: .5em .6em;
}

#mbt-container .mbt-book-archive-pagination .mbt-book-archive-pagination-next {
	margin-left: 5px;
	padding: .6em 1.4em;
}

#mbt-container .mbt-book-archive-pagination .mbt-book-archive-pagination-previous {
	margin-right: 1em;
	padding: .6em 1.4em;
}



/*---------------------------------------------------------*/
/* Widget Styling                                          */
/*---------------------------------------------------------*/

.mbt-featured-book-widget {
	padding: .6em;
	padding-bottom: 0 ;
	text-align: center;
}

.mbt-featured-book-widget .mbt-featured-book-widget-book {
	padding-bottom: 2.3em;
}

.mbt-featured-book-widget .mbt-book-title {
	margin: 0 .5em 1.4em 0;
	text-align: left;
}

.mbt-featured-book-widget .mbt-book-title a {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
	border: none;
}

.mbt-featured-book-widget .mbt-book-title a:hover {
	color: black;
	text-decoration: underline;
	font-size: 1.5em;
	border: none;
}

.mbt-featured-book-widget .mbt-book-images a {
	border: none;
}

.mbt-featured-book-widget .mbt-book-images .mbt-book-image {
	width: 60%;
	margin: 0 0 1.4em 0;
	border-radius: 0 ;
	box-shadow: none;
	border: none;
	background: transparent;
	padding: 0;
}

.mbt-featured-book-widget .mbt-book-images .mbt-book-image.medium {
	width: 45%;
}

.mbt-featured-book-widget .mbt-book-images .mbt-book-image.small {
	width: 30%;
}

.mbt-featured-book-widget .mbt-book-blurb {
	font-size: 1.3em;
	text-align: left;
	margin: 0 0 1em 0;
	padding: 0;
	background: none;
	border: none;
}

.mbt-featured-book-widget .mbt-book-blurb .read-more {
	display: block;
	padding-top: 1em;
	text-align: right;
}

.mbt-featured-book-widget .mbt-book-buybuttons {
	display: inline-block;
	text-align: left;
}

.mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton  {
	width: auto;
	float: left;
	clear: none;
	padding: .5em 1em 0  0 ;
}

.mbt-featured-book-widget .mbt-book-buybuttons .mbt-book-buybutton img {
	background: transparent;
	border: none;
	height: auto;
	width: auto;
	border-radius: 0 ;
	box-shadow: none;
	vertical-align: bottom;
	padding: 0;
	margin: 0;
}



body.mybooktable .post-meta,
body.mybooktable .post-info,
body.mybooktable .post-meta {
	display: none;
}

body.mybooktable .entry-meta,
body.mybooktable .entry-info,
body.mybooktable .entry-meta {
	display: none;
}