/* Post Mailchimp Subscribe */
#post-mc-form {
	padding: .5em 1em;
	margin: 0 0 1.5em;
	border: 1px solid #DAD6D0;
	border-radius: 10px;
}

#post-mc-form h3.mcpost-head {
	margin: 0 0 .75em;
    text-align: center;
	font-size: 1.6em;
}

#post-mc-form .mcpost-before {
	font-size: 1.2em !important;
	margin: .5em 0;
	padding: 0em;
	line-height: 90% !important;
}

#post-mc-form .mc-groups {
	font-size: .8em !important;
	margin: .5em 1em;
	padding: 0em;
	line-height: 90% !important;
}

#post-mc-form .mc-groups .groups-title {
	font-size: 1.2em !important;
	margin: .5em 0em;
}


#post-mc-form .mcpost-after {
	font-size: .8em !important;
	margin: .5em 0;
	padding: 0em;
	line-height: 90% !important;
}

#post-mc-form #mailchimp_signup fieldset {
    text-align: left;
}

#post-mc-form #mailchimp_signup fieldset .fieldinput{
	background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid #C5BCB5 !important;
    border-radius: 6px !important;
    color: #B2AEA5;
    text-align: left;
    width: 65%; 
	margin-right: 1em;
}

