/* Related Posts */
#related-posts {
	padding: .5em 0;
	margin: 0 0 1.5em;
    text-align: center;
	border: 1px solid #DAD6D0;
	border-radius: 10px;
}

#related-posts h3.rposts {
	margin: 0 0 .75em;
}

#related-posts ul {
	vertical-align: top !important;
}

#related-posts ul li {
	width: 21%;
	vertical-align: top !important;
	color: #4d4d4d;
	display: inline-block;
	padding: .25em;
	margin: 0 1%;
	line-height: 90% !important;
}

#related-posts ul li a.thumbnail {
	width: 100%;
	display: block;
	margin: 0 0 !important;
}

#related-posts ul li a.thumbnail img {
	width: 100%;
	height: auto;
	display: block;
	border: 1px solid #FAFAFA;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(20, 20, 20, 0.2);
	-moz-box-shadow:    2px 2px 3px 0px rgba(20, 20, 20, 0.2);
	box-shadow:         2px 2px 3px 0px rgba(20, 20, 20, 0.2);
}

#related-posts ul li a.related-title {
	font-size: .8em;
	line-height: 90% !important;
}