/* 
WOO CUSTOM STYLESHEET
---------------------
*/
body {
	padding: 0 !important;
	margin: 0 !important;
	font-family: 'Lato',Arial,sans-serif !important;
	font-size: 1em;
	word-wrap: break-word;
	width: 100%;
	max-width: 100%;
	color: #323232;
	background: #fff;
}

/* GENERAL STYLES */

/* headings */
h1, h2, h3, h4, h5 {
	font-family: 'Playfair Display', Georgia, "Times New Roman", serif !important;
	font-weight: normal;
	font-style: normal;
	margin-bottom: .25em;
	/*line-height: 1.2em;*/
}

h1 { font-size: 2.31em; font-weight: bold; }
h2 { font-size: 1.85em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.23em; }
h6 { font-size: 1.07px; }

/* links */
a {
	color: #41503B;
}

a:hover {
	color: #485542;
}

/* body text in posts and pages */
p, .entry p, .woo-sc-box.normal, .woo-sc-box.normal p {
	color: #323232;
	margin-bottom: 1em; 
	line-height: 170%; 
	font-weight: 300;
	font-size: 1.2em;
}

/* lists */

.hentry ul li {
	list-style: disc;
	list-style-position: inside;
	margin-bottom: .5em;
	padding-left: .5em;
	color: #323232;
}

.hentry ol li {
	list-style: decimal;
	list-style-position: inside;
	margin-bottom: .5em;
	padding-left: .5em;
	color: #323232;
}

/* forms */
input, textarea {
	background: #fff;
}

.alignleft, .alignright {
    margin: 0 .5em .5em 0;
}

input#submit {
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}

/* BUTTON STYLES */

#wrapper .woo-sc-button, a.woo-sc-button, .widget_simple_mailchimp_subscribe .mailchimp_signup .btn, .widget_simple_mailchimp_home_subscribe .mailchimp_signup .btn, a.mbt_readmore, .button, .button:visited {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 1) !important;
	color: #FFFFFF !important;
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-webkit-appearance: none !important;
	padding: .5em 1.25em  !important;
	text-shadow: none;
	display: inline-block !important;
	font-family: 'Lato',Arial,sans-serif !important;
	text-transform: uppercase !important;
	font-weight: 400 !important;
	/*line-height: normal;*/
	text-transform: uppercase !important;
    width: auto !important;
}

a.woo-sc-button:hover, #homecta .message a:hover, .widget_simple_mailchimp_subscribe .mailchimp_signup .btn:hover, .widget_simple_mailchimp_home_subscribe .mailchimp_signup .btn:hover, a.mbt_readmore:hover, a.button:hover, 
.gform_footer input.gform_image_button:hover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, .7) !important;
	text-shadow: 0px 0px 8px rgba(255, 255, 255, .3) !important;
	text-decoration: none !important;
}

/* GENRERAL LAYOUT STYLES */

/* Main containers */
#wrapper {
	max-width: 100% !important;
	background: #ffffff;
}

#wrapper #inner-wrapper {
	margin: 0;
	width: 100% !important;
}

#navigation, #top .col-full, .col-full {
    max-width: 100% !important;
}

#main-sidebar-container {
	margin-bottom: 2em;
	width: 100% !important;
}

/* Ok, fullwidth does not mean full width */
#inner-wrapper #content {
	max-width: 97.998em !important; /* approx 1300 px*/
	margin: 1em auto;
}

#main-sidebar-container #main {
	display: block;
	margin: 0;
	padding: 0em 0 0;
}

/* Header */
#header-container {
	border-top: 1px solid #869080;
	border-bottom: 1px solid #869080;
	margin: 0;
	padding: 0;
}

#header {
	padding: 0;
	margin: 0 auto;
	float: none;
	background-color: #000000;
	font-family: 'Playfair Display', Georgia, "Times New Roman", serif !important;
	padding: 0;
	max-width: 97.998em !important;
}

#header #logo {
	float: left;
	clear: none;
	display: inline-block !important;
	padding: 0 .2em;
	margin: 1em 0;
	width: 22%;
	min-width: 20em;
}

#header #logo img {
	display: block;
	margin: 0 auto;
	height: auto;
}

#header #logo .sitetitle a  {
	background: none repeat scroll 0 0 transparent;
	border-bottom: 1px solid #353535;
	border-top: 1px solid #353535;
    color: #FFFFFF !important;
    font: 300 0.7em 'Playfair Display', Georgia, "Times New Roman", serif !important;
	width: auto !important;
	padding: 0.1em 0.3em;
	margin: 0;
	display: inline-block;
}

#header #logo .sitetitle a:hover  {
	text-decoration: none;
}

#header #logo .sitedescription {
	padding: 0em;
	margin: .25em 0 0 ;
    color: #FFFFFF !important;
    font: 100 0.9em 'Muli','Open+Sans',Arial,sans-serif !important;
}

/* Needed if the nav toggle is above the header */
div.navtog .nav-toggle {
	display: none;
}

#content {
	background: transparent;
	padding: 0;
}


/* margin and padding for the main left content - add additional content types here as needed */
#content .post, 
.search .page, 
#content .page
{
	border-bottom: 1px solid #DADADA;
    clear: both;
    margin: 0 2.168em 1em;
    padding: 1em 0em 1em !important;
    position: relative;
}

/* margins for sub-post */
.post-entries, 
#related-posts,
#post-mc-form,
#comments,
#respond
{
    margin: 0 2.168em 1em;
}

/* Sidebar */
#main-sidebar-container #sidebar, .two-col-left #main-sidebar-container #sidebar, .two-col-right #main-sidebar-container #sidebar {
	padding: 0;
	margin: 1em 1.168em 1em;
	float: right;
	display: block;
}

/* NAV MENU */

#header #nav-container {
	width: 72%;
	max-width: 72%;
	float: right;
	padding-left: 0;
}

#header #nav-container {
	border: 0;
	display: inline-block;
	float: right;
	margin: 0 !important;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

#header #nav-container #navigation {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

#header #nav-container #navigation ul.nav {
	min-width: 40em;
	float: right;
	padding: 0.2em 0;
}

#header #nav-container #navigation ul#main-nav > li:first-child {
    border-left: 0;
}

#header #nav-container #navigation .nav li.parent > a:after {
	color: #42513A;
}

#header #nav-container #navigation .nav li.parent > a:hover:after {
	color: #FFFFFF !important;
}

#header #nav-container #navigation #main-nav li a{
	color: #FFFFFF ;
	padding: .8em 1em !important;
	margin: 0 !important;
	font: 300 1.2em 'Lato',Arial,sans-serif !important;
}

#header ul.nav li.current_page_item a, #header ul.nav li.current_page_parent a, #header ul.nav li.current-menu-ancestor a, #header ul.nav li.current-cat a, #header ul.nav li.current-menu-item a, #header #navigation ul.nav ul {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF !important;
}

#header #navigation ul.nav > li a:hover, #header #navigation ul.nav li ul.sub-menu li a:hover {
    background: none repeat scroll 0 0 #484848 !important;
	transition: all 0.3s ease-out 0s;
	color: #FFFFFF !important;
}

#header ul.nav li ul li a, ul.nav li ul li a:hover  {
    color: #FFFFFF !important;
	text-decoration: none;
}

#navigation ul.nav ul {
    left: 0px  !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;		
	border: 1px solid #757575;
}

#header #nav-container #navigation #main-nav li ul li a {
    padding: .75em !important;	
	border-bottom: 1px solid #757575;
}

#header #nav-container #navigation #main-nav li ul li:last-child a {
     border-bottom: 0px;
}

#header #navigation ul.nav > li:hover {
	background: #232323;
	transition: all 0.3s ease-out 0s;
}

#header #navigation ul.nav > li:hover a, #header #navigation ul.nav > li:hover a:after {
	color: #FFFFFF !important;
}

/* Search Form */

/* outer box */
#header #searchbox  {
	float: right;
	max-width: 30%;
	width: 30%;
	margin-left: 1.5em;
}

/* form */
#header #searchbox .searchform  {
	background: #252525;
	border: 1px solid #323232;
	line-height: 100%;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#header #searchbox .searchform .icon-search::before {
	color: #FFFFFF;
	font-size: 1em;
	line-height: 1em;
}

#header #searchbox .searchform input.s, #header #searchbox .searchform input#s {
	width: 70%;
	margin-bottom: 0;
	font-size: 1em;
	font-style: normal;
	font-family: 'Lato',Arial,sans-serif !important;
	text-transform: uppercase;
	color: #898989;
	padding: .25em;
	line-height: normal;
}

/* social media icons in the banner */
/* New Social */
#sm-profiles {
}

#header .top-social { 
	margin: .25em 0 .5em 1em;
}

#header  .top-social { 
	float: right;
	margin: 0 3em;
}

.top-social a {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.top-social a:hover {
  filter: alpha(opacity=@opacity * 100);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

.top-social a:hover {
  text-decoration: none;
}

.top-social a:before {
  font-family: Social;
  font-size: 1.1em;
  margin: 0 0.2em 0.6em 0;
  padding: .33em;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  color: #000;
}

.top-social a.subscribe:before {
  content: '\e001';
  background-color: #FFFFFF;
}
.top-social a.twitter:before {
  content: '\e002';
  background-color: #FFFFFF;
}
.top-social a.facebook:before {
  content: '\e003';
  background-color: #FFFFFF;
}
.top-social a.youtube:before {
  content: '\e004';
  background-color: #FFFFFF;
}
.top-social a.flickr:before {
  content: '\e005';
  background-color: #FFFFFF;
}
.top-social a.linkedin:before {
  content: '\e006';
  background-color: #FFFFFF;
}
.top-social a.delicious:before {
  content: '\e007';
  background-color: #FFFFFF;
}
.top-social a.googleplus:before {
  content: '\e008';
  background-color: #FFFFFF;
  font-weight: bold;
}
.top-social a.dribbble:before {
  content: '\e009';
  background-color: #FFFFFF;
}
.top-social a.instagram:before {
  content: '\e010';
  background-color: #FFFFFF;
}
.top-social a.vimeo:before {
  content: '\e011';
  background-color: #FFFFFF;
}

.top-social a.pinterest {
    background: none;
    display: inline-block;
}

.top-social a.pinterest:before {
    background-color: #000000;
    color: #FFFFFF;
	content: '\e012';
    font-size: 1.9em;
    margin: 0 0.2em 0.6em 0 !important;
    padding: 0em !important;
	vertical-align: bottom;
}

/* End New Social */

.breadcrumbs {
	padding: 0 1.168em;
	font-size: 1.2em;
	margin-bottom: .25em !important;
}

.breadcrumbs a, .breadcrumbs span {
	padding: .15em;
	display: inline-block;
	float: none;
	color: #a6a6a6;
	font-style: italic;
}

.breadcrumbs span {
	color: #2b2b2b;
}

/**********************************************/
/******      HOME SECTIONS STYLES    **********/
/**********************************************/

/* Home Widgets */
#home-widgets {
    display: block !important;
    margin: 0 !important;
    padding-bottom: 0em !important;
}

#home-widgets .homewidget {
    clear: both !important;
    float: none !important;
    margin: 0 auto !important;
    padding: 0em !important;
    width: 100% !important;
	/*max-width: 2000px;*/
}


/* Home Widget1 - Reviews box */
/* Blog Intro */

#home_blogintro {
	padding: 2em 0 2em;	
	text-align: center;
}

#home_blogintro h2 {
	font-family: 'Playfair Display', Georgia, "Times New Roman", serif !important;
	font-weight: 400;
	color: #000;
	font-size: 2.5em;
	border-bottom: 1px solid #727272;
	border-top: 1px solid #727272;
	padding: .25em 1em;	
	display: inline-block;
	margin: 0 auto;
}

/**********************************************/
/******          POST STYLES         **********/
/**********************************************/

.single-post #content .post, .page #content .page {
	border-bottom: 0;
}

.search  #content .post .search_main {
	padding-bottom: 2em;
}

.post img.category {
	margin-bottom: 1em;
}

.post .title, .page .title,
.error404 h1.title,
.search .title,
.archive_header,
.archive .entry-header {
	margin-bottom: 1.25em;
	font-size: 2.0em;
	font-family: 'Lato',Arial,sans-serif !important;
	font-weight: 400 !important;
	color: #000000;
}


.archive_header, .archive .entry-header {
	border-bottom: 0;
	font-weight: 700 !important;
	margin: 0em .5em 1em;
	border-bottom: 1px solid #EDEDED;
	padding: .25em 0;
	text-align: center;
	width: 100%;
}

.archive_header .cat.fl {
	float: none;
}

.archive .archive_header+p {
	margin: 0em 2em 1em;
}

.entry-header .entry-title {
	float: none;
	width: 100%;
	padding: 0;
	color: #4c4c4c;
}

.archive .catrss {
	display: none;
}

.single #content .post .entry, .single #content .page .entry {
	padding-bottom: 2em;
}

.post .title a:link, .post .title a:visited, 
.page .title a:link, .page .title a:visited {
	color: #000000;
}

.page-template-default .page h1.title {
	text-align: center;
}
.entry img {
	background: transparent;
	border: 0;
}

/* Archive Pagination */

.woo-pagination {
    clear: both;
    display: block;
    text-align: center;
    margin: 0 0 2em !important;
    padding: 1em !important;
    position: relative !important;
	font-family: 'Lato',Arial,sans-serif !important;
	font-size: 1.8em;
}

.woo-pagination a:link, .woo-pagination a:visited, .woo-pagination a:active, .nav-entries a span {
	font-weight: bold;
	color: #484848;
	border: 0;
	background: transparent;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.woo-pagination .current, .woo-pagination span.current {
	border: 0;
	background: transparent;
	font-weight: bold;
	font-size: 1em;
	color: #98712C;	
}

.woo-pagination a:hover {
	border: 0;
	background: transparent;
	color: #A8813C;
}

/* Featured Images */
.archive .post img.thumbnail .search .page img.thumbnail, .post img.thumbnail {
	padding: 0 auto 0 0;
	background: transparent;
	border: 0;
	height: auto;
	width: 100%;
	max-width: 97.998em;
}

/* Post Meta */
.rssbadge {
	display: block;
	float: left;
	clear: none;
	margin: 0.5em 1em 0.5em 0;
}

.rssbadge img{
	width: 36px;
}

#postmetabox {
	display: inline-block;
}

.post-meta {
	line-height: 100%;
	font-size: .9em;
	font-weight: 300 !important;
	display: inline-block;
	max-width: 75%;
	margin: .5em 0 1.5em;
}

.post-meta p.icon {
	display: inline-block;
	margin: 0 .5em 0 0;
}

.post-meta p.icon .small, .post-meta .categories, .post-meta .date, .post-utility .date, .post-meta .post-comments, .post-meta .date {
	font-style: normal;
	padding: 0;
	text-transform: none;
	font-family: 'Lato',Arial,sans-serif !important;
}

.post-meta a:link, .post-meta a:visited, .post p.tags a:link, .post p.tags a:visited {
    color: #415139;
    font-weight: 700;
}

/* Liketweets and Sharethis */

.liketweets {
	display: block;
	max-width: 230px;
	width: 25%;
	float: right;
	margin-bottom: .5em;
	margin-top: 0;
}

.liketweets.config2 {
	position: relative !important;
	margin-left: 2em;
}

/* need to do this for gplus wherever it is in line*/
.liketweets.config2 div:nth-child(2) {
    margin-right: 1em !important;
}

.liketweets .cont {
    clear: none;
    display: inline-block;
    float: right;
    margin: 0 0.2em;
    max-width: 75px;
}

.liketweets .cont-st {
	clear: none;
    display: inline-block;
	float: right;
    width: 95px;
}

.liketweets .commentcount {
	text-align: center;
	position: relative;
	margin: 5px 0 0;
	padding-top: 7px;
	vertical-align: baseline;
	display: block;
	font-size: 1.2em;
	font-weight: 400;
	background-image: url('images/comments.png');
	background-repeat: no-repeat;
	background-position: top;
	height: 60px;
	width: 61px;
}

.liketweets .commentcount {
	color: #000;
}

.st_fblike_buttons {
	display: inline-block;
	height: 20px;
	position: relative;
	width: 85px;
}

.st_fblike_buttons span:first-child {
	position: absolute !important;
	width: 450px !important;
	z-index: 1;
}

.liketweets+header, .liketweets+header+.post-meta {
	max-width: 68%;
}

.liketweets+header+.entry, .liketweets+header+.post-meta+.entry {
	clear: both;
}

/* Post More */
.post-more {
	float: none;
	clear: both;
	font-size: 1.1em;
	padding: .75em 1.5em;
	margin: 0 auto 1em;
	text-align: center;
}

.post-more .read-more a {
	padding: .5em 1.25em;
	display: block;
	font-weight: 500;
	font-size: 1em;
	text-decoration: none;
	text-transform: capitalize;
	color: #222;
	display: inline-block;
	border: 1px solid #e2e2e2;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #efefef;
}

.post-more .read-more a:hover {
	color: #000;
}

.single-post #connect {
	margin-bottom: 4em;
}

.post-entries {
    border-top: 1px solid rgba(0, 0, 0, 0.07) !important;
    font-weight: 300;
    margin: 0;
    padding: 3em 0;
}

.post-entries .nav-prev, .post-entries .nav-next {
	max-width: 49%;
}

.post-entries a:hover {
	text-decoration: underline;
}

.post-entries i {
	display: none;
}

.post-entries .nav-prev a, .nav-entries .nav-prev, .post-entries .nav-next a, .nav-entries .nav-next {
	margin-right: 0;
    color: #415139 !important;
    font-size: 1.0em;
    font-weight: 400 !important;
    padding: 0.2em 0.4em !important;
    transition: all 0.3s ease-out 0s;
}

.post-entries .nav-prev a:hover, .post-entries .nav-next a:hover {
	text-decoration: none;
	color: #489838 !important;
}

.post .entry .date {
	color: #212121 !important;
	cursor: initial;
	display: block;
	font-size: .8em;
	font-weight: bold;
	font-family: 'Lato',Arial,sans-serif !important;
	border-bottom: 1px solid #e8e8e8;
	padding-top: 1em;
	padding-bottom: .3em;
}

.post .entry .date abbr {
	font-size: 1em;
	border-bottom: 0;
	display: inline-block;
}

.hentry .sociable ul li {
	list-style: none;
}

.error404 #main .entry .searchform, .search #main .searchform {
	border-color: #ccc #efefef #efefef #ccc;
	border-width: 1px;
}

.error404 .entry .searchform {
	width: 75%;
	margin-top: 2em;
}

.error404 .searchform input.submit, .search .searchform input.submit {
	border: 0;
	float:right;
	margin-top: 3px;
}

.search .page, .search .post, .search .mbt_book, .archive .hentry {
	padding-bottom: 3em;
}

.search .page .post-meta, .search .mbt_book .post-meta {
	display: none;
}

/* SIDEBAR WIDGETS */

#sidebar .widget {
    font-size: 1em;
    margin: 0 0 3.5em;
	line-height: 150%;
}

#sidebar .widget h3 {
    border-bottom: 1px solid #BABABA;
    border-top: 1px solid #BABABA;
    color: #000000;
    display: block;
    font: 400 1.5em 'Playfair Display',Georgia,"Times New Roman",serif !important;
    margin: 0.5em .5em 0.75em;
    padding: 0.5em 1em;
    text-align: center;
}

/* Text Widget */
#sidebar .widget .textwidget {
    margin: 0.5em .5em 0.75em;
    padding: 0.5em 1em;
}



/* CONNECT ICONS */
#sidebar .widget_social_media_profile_widget {
	text-align: center;
}

#sidebar .top-social {
	margin: 1.5em auto 0 !important;
	display: inline-block  !important;
	min-width: auto  !important;
	float: none  !important;
}

#sidebar .top-social a {
	margin: 0em .25em !important;
	font-size: 1.5em;
}

#sidebar .top-social a:before {
  color: #FFFFFF  !important;
  background-color: #000000  !important;
}

#sidebar .top-social a.pinterest:before {
  color: #000000  !important;
  background-color: #FFFFFF  !important;
}

/* Subscribe box */

#sidebar .widget_simple_mailchimp_subscribe .text-before-form, #sidebar .widget_simple_mailchimp_subscribe .mc_signup_form  {
	margin: 0 .5em 0;
}

#sidebar .widget_simple_mailchimp_subscribe .text-before-form #ccmc-email  {
	margin: 0 .5em 1em;
}

#sidebar .mailchimp_signup, #sidebar .our-story-button  {
	text-align: center;
}

/* COMMENT STYLING */

#comments, #respond {
    border: 1px solid rgba(0, 0, 0, 0.07) !important;
    padding: 1em 2em !important;
    position: relative !important;
}

#comments h3, #respond h3, #comments .nocomments {
	padding: 0;
	margin-bottom: 0.75em;
	font-size: 2.1em;
	font-weight: 700;
	color: #000000;
}

#comments .nocomments {
	font-size: 1.5em;
}

#comments .commentlist {
	margin-left: 0;
}

#comments .avatar img {
	border: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background-color: transparent;
	margin: 1em 0 1em 1em;
}

#comments .comment.thread-even, #comments .comment {
	background: #fff;
	padding: 0;
	margin-left: 0;
	margin-bottom: .5em;
	border-bottom: 0;
}

#comments .comment .comment-container {
	padding: 0 0 1em 0;
}

#comments ul.children {
	margin: 1em 0 0 2em;
}

#comments ul.children li {
	border-top: 0;
}

#comments .comment ul.children li .comment-container {
	padding-bottom: 2em;
}

#comments .comment-head {
	color: #9d9d9d;
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	margin: 0;
	padding: .5em 1.5em !important;
	background: transparent;
}

#comments .comment-head .date, #comments .comment-head .date abbr {
	font-weight: normal;
	font-size: 1em;
}

#comments .comment-head .name a, #comments .comment-head .name {
	font-weight: bold;
	font-size: 1em;
	font-style: normal;
	text-transform: uppercase;
	margin-right: .25em;
	color: #2b2b2b;
}

#comments .comment-entry {
	padding: 1em 2em;
	margin-left: 2em;
	display: inline;
}

#comments .comment-entry p {
	font-style: normal;
}

#respond {
	padding-bottom: 2em;
	border-bottom: 0;
}

#respond label {
	font-size: .9em;
	float: left;
	width: 8em;
}

#respond .after-label {
	font-size: .8em;
	color: #939393;
}

#commentform .required {
	color: #415139;
}

#respond #commentform .comment-form-author {
	margin-top: 1em;
}

#commentform input.txt, #commentform textarea {
	font-family: 'Lato',Arial,sans-serif !important;
	font-size: .9em !important;
	font-style: normal !important;
	background: #F6F6F6 !important; 
	border-radius: 0;
	-moz-border-radius: 0;
	padding: .5em;
	-webkit-border-radius: 0;
	border: 1px solid #e2e2e2 !important;
	box-shadow: inset 0 0 0px #e2e2e2 !important;
	color: #353535 !important;
	width: 75% !important;
	display: inline-block;
}

#commentform textarea {
    width: 75% !important;
}

body #wrapper #content .reply, 
body #wrapper #content #respond .form-submit {
	clear: both;
}

body #wrapper #content .reply a, body #wrapper #content #respond .form-submit input#submit {
	display: block;
	/*line-height: 1.4em;*/
	text-decoration: none;
	background: none repeat scroll 0 0 #000000;
    color: #FFFFFF !important;
    font-size: 1.2em;
    font-weight: 300 !important;
    /*line-height: 100%;*/
    padding: 0.2em 0.4em !important;
    transition: all 0.3s ease-out 0s;
	text-transform: none;
	float: right;
}

body #wrapper #content .reply a:hover, body #wrapper #content #respond .form-submit input#submit:hover {
	background: none repeat scroll 0 0 #484848;
    color: #FFFFFF !important;
}

body #wrapper #content #respond .form-submit {
	width: 98%;
	margin: 0 0 1em 0;
}

body #wrapper #content .button:active, body #wrapper #content .reply a:active, body #wrapper #content #respond .form-submit input#submit:active, input[type="submit"]:active {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}


/* My Book Table styles are in css/mbt-style and filter in site specific loads this if active */

/* FOOTER STYLES */
/**********************************************/
/******            Footer            **********/
/**********************************************/

body.full-width #footer {
	background: none repeat scroll 0 0 #000000;
	margin: 0 auto 2em;
	padding: 0 0 3.5em;
	text-align: center;
	font: 300 1em 'Lato',Arial,sans-serif !important;
	color: #FFFFFF;
}

body.full-width #footer a {
	color: #FFFFFF;
	text-decoration: none;
}

body.full-width #footer a:hover {
	color: #FAFAFA;
	text-decoration: none;
}

#footer-container {
    border-top: 0px;
}

/* Footer Widgets */

#footer-widgets {
	padding: 0 1.618em;
	margin: 0 4em;
	border: 0;
	position: relative;
}

#footer-widgets .widget {
    color: #FFFFFF;
	margin-bottom: 2em;
	font-size: 1.2em;
} 

#footer-widgets .widget h3 {
    color: #FFFFFF;
	font: 400 1.5em Georgia, "Times New Roman", serif !important;
	padding: .25em 1em;
	text-align: center;
	display: block;
	margin: .5em auto .75em;
	border-top: 1px solid #252525;
	border-bottom: 1px solid #252525;
}

#footer-widgets .widget .textwidget {
    border: 0 !important;
    color: #FFFFFF;
	font: 300 1em 'Lato',Arial,sans-serif !important;
}

#footer-widgets .block {
	margin:  1em 1%;
	padding: 1em 0;
	width: 30.75%;
	display: block !important;
	text-align: left;
}

/*  Footer Bottom  */

#footer #copyright {
	display: block;
	padding: 1em 1.618 .5em;
	margin: 0 4em;
	font-weight: normal;
	font-family: 'Lato',Arial,sans-serif !important;
	text-align: left;
	color: #DEDEDE !important;
}

#footer #copyright a {
	color: #DEDEDE ;
	text-decoration: underline;
}

#footer #credit {
	float: right;
	clear: none;
	display: inline-block;
	padding: 1em 5.168em 0.5em;
	margin: 0 auto;
	max-width: 48%;
	font-weight: normal;
	font-family: 'Lato',Arial,sans-serif !important;
	text-align: right;
	color: #343434;
}

#footer p {
	color: #FFFFFF;
	font-size: 1.1em;
}

#footer a {
	color: #000;
	text-decoration: underline;
}

/***********************************/
/*                                 */
/*         MOBILE RESPONSIVE       */
/*                                 */
/***********************************/

@media only screen and (max-width: 1380px) {
	#nav-container {
		padding: 0 !important;
	}
	
	#header #logo {
		min-width: 0;
		padding: 0 0.2em;
		width: 50%;
	}

	#header #nav-container {
		max-width: 100%!important; 
		width: 100%!important;
		margin-left: 0 !important;
		float: left !important;
	}
		
	.breadcrumbs {
		font-size: 1.2em;
		margin-bottom: 0.25em !important;
		padding: 1.168em;
	}	
	
	.liketweets {
    	display: block;
   	    margin-bottom: 0.25em;
        width: 100%;
	}
	
	#main-sidebar-container #sidebar, .two-col-left #main-sidebar-container #sidebar, .two-col-right #main-sidebar-container #sidebar 	{    
   	 	margin: 1em .5em 1em;    	
	}
	
}


/* header rearranges here */
@media only screen and (max-width: 980px) {
	#homecta h2 {
   		font-size: 2em;
    }
	
	#homecta .message a {
        font: 300 1.25em 'Lato',Arial,sans-serif !important;    
	}
	
	.breadcrumbs {
		font-size: 1.2em;
		margin-bottom: 0.25em !important;
		padding: 1.168em;
	}	
	
	#hometagline #inner h2 {
    	font-size: 2.25em;
    	padding: 0.55em 0.75em;
	}
			
	.post-meta {
    	font-size: 0.8em;
	}

	.liketweets {
    	display: block;
   	    margin-bottom: 0.25em;
        width: 100%;
	}
	
	.two-col-left #main-sidebar-container #main, .two-col-right #main-sidebar-container #main {
    	width: 60%;
	}
	
	p, .entry p, .woo-sc-box.normal, .woo-sc-box.normal p {
    	font-size: 1.2em;   
	}
		
	.page .wooslider .slide-content {
		height: 22em;
	}

}
@media only screen and (max-width: 850px) {	
	#nav-container {
    	padding: 0 !important;
	}

	#header #nav-container {
		max-width: 100%!important; 
		width: 100%!important;
		margin-left: 0 !important;
		float: left !important;
	}
		
	.two-col-left #main-sidebar-container #main, .two-col-right #main-sidebar-container #main {
		width: 96% !important;
		margin: 0 auto !important;
	} 
	
	#main-sidebar-container #sidebar, .two-col-left #main-sidebar-container #sidebar, .two-col-right #main-sidebar-container #sidebar 	{
		width: 96% !important;
		margin: 0 auto !important;
	}

	.breadcrumbs {
		font-size: 1.2em;
		margin-bottom: 0.25em !important;
		padding: 1.168em;
	}

	#header #nav-container #navigation #main-nav li a {
		font-size: 1.3em !important;
		padding: 0.8em 0.65em !important;
	}
		
	#header .top-social {
		float: right !important;
		margin-left: 0;
		min-width: 0;
		width: 100%;
		position: absolute;
		right: -2em;
		top: 4.5em;
		width: 20%;
		display: block;
	}
	
	.two-col-left #main-sidebar-container #main, .two-col-right #main-sidebar-container #main {
		width: 60%;
	}

	#main-sidebar-container #sidebar, .two-col-left #main-sidebar-container #sidebar, .two-col-right #main-sidebar-container #sidebar 	{
		padding-top:.5em!important;
	}
	
	#wrapper .woo-sc-button, a.woo-sc-button, .widget_simple_mailchimp_subscribe .mailchimp_signup .btn, 		
	.widget_simple_mailchimp_home_subscribe .mailchimp_signup .btn, a.mbt_readmore, body #wrapper #content .button, body #wrapper 
	#content .button:visited {
		font-size: 1em;
	}

	#hometagline #inner .tagline {
  		font-size: 1.25em;
	}
	
	#footer #copyright {
    	font-size: smaller; 
	}
	
	.post .title, .page .title, .error404 h1.title, .search .title, .archive_header, .archive .entry-header {
 	   font-size: 2em;
	}
	
	.page .wooslider-control-thumbs li {
		height: 4.3em;
	}

}


/* iPad */
@media only screen and (max-width: 768px) {
	
	#header #nav-container #navigation #main-nav li a {
		padding: 0.8em .7em !important;
		font-size: 1em !important;
	}
	
	/* End - Fixed Header / Mobile Menu issue */
	
	#header #nav-container #navigation ul.nav {
		min-width: 0;
	}

	body.full-width #header, #nav-container, body.full-width #content, body.full-width #footer-widgets, body.full-width #footer {
		padding-left: 0.618em;
		padding-right: 0.618em;
	}
	
	#content .post, .search .page, #content .page {
		margin: 0 0.168em .5em;
		padding: .5em 0 1em !important;
	}
	
	#header #nav-container #navigation {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9) !important;
		font-size: 0.8em  !important;
	}
		
	#main-sidebar-container #main {
		display: block;
		margin: 0;
		padding: .5em 0 0;
	}
		
	.post .title, .page .title, .error404 h1.title, .search .title, .archive_header, .archive .entry-header {
 	   font-size: 1.75em;
	}
	
	p, .entry p, .woo-sc-box.normal, .woo-sc-box.normal p {
    	font-size: 1.25em;   
	}
	
	#footer-widgets .block {
		width: 90%!important;
	}
	
	#footer-widgets .block .widget_social_media_profile_widget {
    	margin-bottom: 0;
	}

	.breadcrumbs {
		margin-bottom: 0.25em !important;
		padding: 0 0.5em;
	}
	
}
@media only screen and (max-width: 680px) {	
	
	
}
/* iPad mini */
@media only screen and (max-width: 540px) {
	
	#header #logo .sitetitle a {
		font-size: 0.5em !important;
	}
	
	#header #logo .sitedescription {
		font-size: 0.6em !important;
	}
	
	#header #searchbox, #header .top-social {
		max-width: 33%;
		width: 33%;
	}
			
	#wrapper .woo-sc-button, a.woo-sc-button, .widget_simple_mailchimp_subscribe .mailchimp_signup .btn, 		 	
	.widget_simple_mailchimp_home_subscribe .mailchimp_signup .btn, a.mbt_readmore, body #wrapper #content .button, body #wrapper 
	#content .button:visited {
		font-size: 1em;
	}
	
	.widget {
		margin: 0;
	}
	
	.post .title, .page .title, .error404 h1.title, .search .title, .archive_header, .archive .entry-header {
 	   font-size: 1.5em;
	}
	p, .entry p, .woo-sc-box.normal, .woo-sc-box.normal p {
    	font-size: 1.15em;   
	}	
}

/* Android / iPhone */
@media only screen and (max-width: 380px) {	
	body.full-width #header, #nav-container, body.full-width #content, body.full-width #footer-widgets, body.full-width #footer {
		padding-left: 0.5em;
  	    padding-right: 0.5em;
	}
	.post .title, .page .title, .error404 h1.title, .search .title, .archive_header, .archive .entry-header {
		   font-size: 1.4em;
	}
}