.widget_simple_mailchimp_subscribe img.aligncenter, .widget_simple_mailchimp_home_subscribe img.aligncenter {
	width: 100%;
}

.widget_simple_mailchimp_subscribe img.alignleft, .widget_simple_mailchimp_subscribe img.alignright, .widget_simple_mailchimp_home_subscribe img.alignleft, .widget_simple_mailchimp_home_subscribe img.alignright {
	width: 50%;
}

.widget_simple_mailchimp_subscribe .text-before-form, .widget_simple_mailchimp_subscribe .text-after-form, .widget_simple_mailchimp_home_subscribe .text-before-form, .widget_simple_mailchimp_home_subscribe .text-after-form {
	font-size: .9em;
	padding: .25em;
}

.widget_simple_mailchimp_subscribe .mailchimp_signup .mc-groups, .widget_simple_mailchimp_home_subscribe .mailchimp_signup .mc-groups {
	margin: .5em;
	padding: .5em;
}

.widget_simple_mailchimp_subscribe .mailchimp_signup .message, .widget_simple_mailchimp_home_subscribe .mailchimp_signup .message{
	margin: .5em;
	padding: .5em;
	border: 1px solid #939393;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	font-size: .9em;
	color: #939393;
}

.widget_simple_mailchimp_subscribe .mailchimp_signup .message a, .widget_simple_mailchimp_home_subscribe .mailchimp_signup .message a {
	color: #454545;
}

.widget_simple_mailchimp_subscribe .mailchimp_signup .mc-groups .groups-title, .widget_simple_mailchimp_home_subscribe .mailchimp_signup .mc-groups .groups-title {
	font-weight: bold;
}

.widget_simple_mailchimp_subscribe .mailchimp_signup .mc-groups ul#grouplist, .widget_simple_mailchimp_home_subscribe .mailchimp_signup .mc-groups ul#grouplist {
	
}

.widget_simple_mailchimp_subscribe .mailchimp_signup .mc-groups ul#grouplist li, .widget_simple_mailchimp_home_subscribe .mailchimp_signup .mc-groups ul#grouplist li{
	margin: .25em 0 .25em .5em;	
	list-style: none;
	list-style-type: none;
}

.widget_simple_mailchimp_subscribe .mailchimp_signup .fieldinput, .widget_simple_mailchimp_home_subscribe .mailchimp_signup .fieldinput  {
	width: 90%;
}

.widget_simple_mailchimp_subscribe .mailchimp_signup .btn, .widget_simple_mailchimp_home_subscribe .mailchimp_signup .btn {
	width: auto;
	display: inline-block;
	background: #E44527; /* Old browsers */
	background: -moz-linear-gradient(top,  #E44527 0%, #E44527 4%, #E44527 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E44527), color-stop(4%,#E44527), color-stop(100%,#E44527)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #E44527 0%,#E44527 4%,#E44527 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #E44527 0%,#E44527 4%,#E44527 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #E44527 0%,#E44527 4%,#E44527 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #E44527 0%,#E44527 4%,#E44527 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E44527', endColorstr='#E44527',GradientType=0 ); /* IE6-9 */
	/*border: 1px solid #990000;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    font-family: "Trebuchet MS", Trebuchet, Arial;
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	font-size: 1.2em;
	text-rendering: optimizelegibility;
	padding: .5em 1.5em .4em 1.5em;
	margin: .75em 0em;
	color: white;
}